<form [formGroup]="form" (ngSubmit)="login()">

    <div>
        <label for="username">
            Nom d'utilisateur
        </label>
        <input type="text" formControlName="username" id="username">
    </div>

    <div>
        <label for="password">
            Mot de passe
        </label>
        <input type="password" formControlName="password" id="password"> 
    </div>

    <button type="submit">
        Login
    </button>
    <button type="button" (click)="logout()">
        Logout
    </button>

</form>